div[card] {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
    background-color: #444444;
    color: #FFFFFF;

    & section[header] {
        display: flex;
        flex-direction: column;
        padding: 16px;

        & span[card-icon] {
            margin: 8px 0;
            color: #436A96;
            font-size: 80px;
        }

        & h2,
        & h4 {
            margin: 8px;
        }

        & h4 {
            opacity: 60%;
        }
    }

    & section[content] {
        margin: 16px;
        padding: 8px;

        & p {
            margin: 0;
        }
    }
}